<%- include('../includes/head.ejs') %>
</head>

<body>
<%- include('../includes/navigation.ejs') %>
<main>
     <div class="form-search ">
          <input type="text" placeholder="Nhập vé số" class="input-search">
          <button class="btn-search-cus">Tìm kiếm</button>
     </div>
     <div>
          home page
     </div>
</main>
<%- include('../includes/end.ejs') %>