<div class="backdrop"></div>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-danger">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">LotteNows</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Trang Chủ</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Tra cứu XS
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="?option=xo-so-mien-bac">XS Miền Bắc</a></li>
                  <li><a class="dropdown-item" href="?option=xo-so-mien-trung">XS Miền trung</a></li>
                  <li><a class="dropdown-item" href="?option=xo-so-mien-name">XS Miền Nam</a></li>
                  <!-- <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                </ul>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li> -->
            </ul>
          </div>
        </div>
        <div class="form-login">
          <% if(isLoggedIn) { %> 
            <div class="avatar-login cursor-pointer">
              <a href="/user/<%= userId %>">
                <img src="https://i.pinimg.com/474x/3e/ee/0c/3eee0cf5ee9b86576f7720735828b5fd.jpg"
                  alt="img"
                  class="nav-ava"
                  >
              </a>
            </div>
            <div class="dropdown ">
              <div class="btn-dropdown" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  User
              </div>
              <ul class="dropdown-menu" >
                
                <!-- <li><a class="style-link" href="/user/>">Hồ sơ</a></li> -->
                <li>
                  <form action="/signout" class="cursor-pointer" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                      <button type="submit">
                        Đăng xuất
                      </button>
                  </form>
                </li>
              </ul>
            </div>
          <% } else { %>
            <a class="style-link" href="/signin">Đăng nhập</a> 
          <% } %>
        </div>
      </nav>
    
</header>